<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <variable name="CONSOLE_PATTERN" value="[%p] %d{h:mm:ss aa zzz E} %m%n"/>
    <variable name="FILE_PATTERN" value="teachualogs-%d{yyyy-MM-dd}.%i.log"/>
    <variable name="ENCODER_PATTERN"
              value="[%p] time: %d{yyyy-MM-dd HH:mm:ss,SSS} file: %F class: %c method: %M line: %L thread: %t - %m%n"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${CONSOLE_PATTERN}</Pattern>
        </layout>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${URL_LOGS}/${FILE_PATTERN}</fileNamePattern>
            <!-- each file should be at most 1MB, keep 30 days worth of history, but at most 1GB -->
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>
    </root>
</configuration>
