<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Connection string for a PostgreSQL DB -->
        <property name="connection.url">jdbc:postgresql://185.156.43.101:5432/su_dev_2</property>
        <!-- DB username -->
        <!-- ${env.DB_LOGIN} -->
        <property name="connection.username">su_teachua_test</property>
        <!-- password DB username -->
        <!-- ${env.DB_PASSWORD} -->
        <property name="connection.password">jKsUjok57JsqLk9k287</property>
        <!-- Default schema -->
        <property name="default_schema">public</property>
        <!-- Hibernate dialect for PostgreSQL DB -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!-- DB Driver -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- Shows SQL instructions in shell when you run your program and do any CRUD operation into the DB (show SQL in console) -->
        <property name="show_sql">true</property>
        <!-- Show SQL formatted -->
        <property name="format_sql">true</property>
        <!-- Updates DB schema on startup -->
        <property name="hbm2ddl.auto">update</property>
    </session-factory>
</hibernate-configuration>